
.headerWcba {
 
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    top: -13rem;
    left: -60rem;
  }
  
  .header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav {
    display: flex;
    justify-content: center;
  }
  
  .nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav__item {
    margin: 0 15px;
  }
  
  .nav__link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .nav__link:hover,
  .nav__link.active {
    color: #f9a826;
  }



.signup-container_Wcba {
    background: linear-gradient(to right, #15201d,#061013);
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    text-align: center;
    border: 1px solid #28ace9;
    box-shadow: 0px 8px 13px rgba(38, 233, 223, 0.5);
    }
    
    .signup-title {
      margin-bottom: 20px;
      font-size: 24px;
      color: #f3870b;
    }
    
    .signup-form {
      display: flex;
      flex-direction: column;
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .form-group label {
      display: block;
      margin-bottom: 5px;
      color: #666;
    }
    
    .form-group input {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
    }
    
    .signup-button_Wcba {
      width: 100%;
      padding: 10px;
      font-size: 1rem;
      font-weight: bold;
  
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border: 1px solid #28ace9;
      box-shadow: 0px 8px 13px rgba(38, 233, 223, 0.5);
    }
    
    .signup-button:hover {
      background-color: #45a049;
    }

    .headerHome .nav ul {
  display: flex;
  gap: 2rem;
  color: #58ff7d;
  margin-left: -58rem;
  margin-top: -1rem;
}
.headerHome .nav ul a {
  color: #9c9c9c;
  margin-left: 29rem;
  margin-right: -30rem;
  
}
.headerHome .nav ul a:hover {
  color: #58ff7d;
}
.headerHome .nav ul a.active {
  color: #58ff7d;
}

.headerHome {
    padding: 3rem 0;
   margin-left: 24rem;
   margin-top: -2rem;
   
  }

    
    @media (max-width: 768px) {
      .signup-container {
        padding: 20px;
        width: 100%; /* Use full width on smaller screens */
        box-shadow: 0px 5px 10px rgba(138, 233, 60, 0.3);
      
      }

      .signup-container_Wcba{

   position: relative;
   top: 4rem;
      }
      .headerWcba {
 
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        top: -5rem;
        left: 0rem;
        display: block;
        gap: 2rem;
      }

      .nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        gap: 3rem;
      }

      
    
      .signup-title {
        font-size: 20px; /* Slightly smaller title font */
      }
    
      .form-group input {
        font-size: 14px; /* Adjust input font size */
      }
    
      .signup-button {
        font-size: 0.9rem; /* Adjust button font size */
      }

 

 
    }
    
    @media (max-width: 480px) {
      .signup-container {
        padding: 15px;
        border-radius: 5px; /* Smaller border radius */
      }
    
      .signup-title {
        font-size: 18px; /* Smaller title font */
      }
    
      .signup-button {
        font-size: 0.85rem;
        padding: 8px;
      }

      .headerWcba {
 
        padding: 10px 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        position: relative;
        top: -3rem;
        left: 0rem;
        display: block;
        gap: 2rem;
      }

      .nav__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: block;
        gap: 3rem;
      }

      .signup-container_Wcba{

        position: relative;
        top: 4rem;
           }

    }

    @media (max-width: 820px) {
        .signup-container {
          padding: 15px;
          border-radius: 5px; /* Smaller border radius */
        }
      
        .signup-title {
          font-size: 18px; /* Smaller title font */
        }
      
        .signup-button {
          font-size: 0.85rem;
          padding: 8px;
        }
  
        .headerWcba {
   
          padding: 10px 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          position: relative;
          top: -3rem;
          left: 0rem;
          display: block;
          gap: 2rem;
        }
  
        .nav__list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          gap: 3rem;
        }
  
      }


      @media (max-width: 417px) {
        .signup-container {
          padding: 20px;
          border-radius: 5px; /* Smaller border radius */
          margin-top: 20rem;
          
         
        }
      
        .signup-title {
          font-size: 18px; /* Smaller title font */
        }
      
        .signup-button {
          font-size: 0.85rem;
          padding: 8px;
        }
  
        .headerWcba {
   
          padding: 10px 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          position: relative;
          top: 2rem;
          left: 0rem;
          display: block;
          gap: 2rem;
       
        }
  
        .nav__list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          gap: 3rem;
        }
  
      }


      @media (max-width: 600px) {
        .signup-container {
          padding: 20px;
          border-radius: 5px; /* Smaller border radius */
          margin-top: 20rem;
          
         
        }
      
        .signup-title {
          font-size: 18px; /* Smaller title font */
        }
      
        .signup-button {
          font-size: 0.85rem;
          padding: 8px;
        }
  
        .headerWcba {
   
          padding: 10px 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          position: relative;
          top: 2rem;
          left: 0rem;
          display: block;
          gap: 2rem;
       
        }
  
        .nav__list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          gap: 3rem;
        }
  
      }

      @media (max-width: 1800px)  {
        .signup-container {
          padding: 20px;
          border-radius: 5px; /* Smaller border radius */
          margin-top: 20rem;
          
         
        }

        .signup-container_Wcba {
          padding: 20px;
          border-radius: 5px; /* Smaller border radius */
         position: relative;
         top: 6rem;
          
         
        }
      
        .signup-title {
          font-size: 18px; /* Smaller title font */
        }
      
        .signup-button {
          font-size: 0.85rem;
          padding: 8px;
        }
  
        .headerWcba {
   
          padding: 10px 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          position: relative;
          top: 2rem;
          left: 0rem;
          display: block;
          gap: 2rem;
       
        }
  
        .nav__list {
          list-style: none;
          margin: 0;
          padding: 0;
          display: block;
          gap: 3rem;
        }
  
      }
  